
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_ViewImports</title>
</head>
<body>
    The following Razor directives are supported:
        @*@using
        @inject
        @model
        @inherits
        @addTagHelper
        @removeTagHelper
        @tagHelperPrefix*@

    NOTE: A using statement added to the _ViewStart file is scoped to said file,
    and will not apply to actual Views. _ViewImports is designed to extend
    the scope to the Views, allowing Views to take advantage of using statements in
    _ViewImports.
</body>
</html>
